/* Loading.css */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; /* Full viewport height */
    background-color: #f0f0f0; /* Background color */
}

.loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the spinner */
    height: 60px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p {
    margin-top: 0px;
    font-size: 18px; /* Font size */
    color: #555; /* Text color */
}

section.contact-p-sec form#contact-form .content-col h1 {
position: initial !important;
background: #fff;
color: #001d4a;
}

.contact-p-sec h1  {
position: initial !important;
background: #fff;
color: #001d4a;
}
